
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}


.container {
    flex: 1; 
}

footer {
    background-color: #1d1c1c; 
    color: #121212; 
   
    margin-top: auto; 
}

footer a {
    text-decoration: none;
    color: #161212;
}

footer a:hover {
    color: #147adf;
}

footer .container {
    max-width: 1200px;
}

/* Linha de separação */
footer hr {
    border-top: 1px solid #0c0101;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}


footer .social-links a {
    margin: 0 10px;
    color: #333; 
}

footer .social-links a:hover {
    color: #147adf;
}