:root {
  --bg-primary: #D9D9D9;  
  --bg-black: black;     
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}



.carousel-item {
  min-height: 80vh;
  transition: background-color 1.5s ease-in-out; /* Transição suave para o fundo */
}

.carousel-item .d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item .d-inline-block {
  max-width: 650px;
}

.carousel-item h1 {
  max-width: 700px;
  font-size: 7.6rem;
  text-align: left;
}

.carousel-item p {
  max-width: 700px;
  font-size: 1.6rem;
  text-align: left;
}

.carousel-item .btn-outline-primary {
  padding: 15px 30px; 
}

/* Remover o fundo no primeiro slide */
.carousel-item:nth-child(1) {
  background-color: var(--bg-primary);
}


.carousel-item:nth-child(2) {
  background-color: var(--bg-primary); 
}

.carousel-item:nth-child(2).active {
  background-color: var(--bg-black);
  color: white;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: gray; 
  border-radius: 50%; 
}


.carousel-item .carousel-caption {
  visibility: hidden;
}

.carousel-item.active .carousel-caption {
  visibility: visible;
}
