html {
    font-size: 62.5%;
  }
  
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que a página ocupe toda a altura da tela */
  }

  .container {
    flex: 1;
  }
  
  /*Navbar, configuração */
  /* Ajuste do tamanho da navbar */
  .navbar {
    padding: 1rem 2rem;  /* Aumentar o padding para dar mais altura */
  }
  
  /* Ajustando o tamanho da fonte dos links da navbar */
  .navbar-nav .nav-link {
    font-size: 1.6rem;  /* Tamanho maior para os links */
    padding: 0.8rem 1rem;  /* Aumentando o padding nos links */
  }
  
  /* Ajustando o logo para maior altura */
  .navbar-brand img {
    height: 40px;  /* Aumenta a altura do logo */
  }
  
  /* Ajustando a altura e o comportamento da navbar em telas pequenas */
  @media (max-width: 768px) {
    .navbar {
        padding: 0.8rem 1rem;  /* Reduz um pouco o padding em telas pequenas */
    }
    .navbar-nav .nav-link {
        font-size: 1.4rem;  /* Tamanho menor dos links em telas pequenas */
    }
  }
  

ul li{
    margin-right: 4.4rem;
  }
  
  .btn-outline{
    border: 1px solid #1559B7;
    color:#1559B7;
    padding:12px;
    font-size:1.6rem;
    font-weight: 600;
  }
  
  .btn-outline:hover{
    border: 1px solid #1559B7;
    color:#fff;
    background-color: #1559B7;
    
  }


